extends layout

block content
  h1 Welcome to My Satellite Tracker App
  a (There are 3 satellites available at the moment...)
  h3 Click on satellite names to get more information
  each satellite in satellites
    .item
      button.getSatInfo #{satellite.name}
      ul
        li Latitude: #{satellite.lat}&deg
        li Longitude: #{satellite.long}&deg
  script(src='/javascripts/summary.js')
  h2 The International Space Station (ISS) - Where is it now?
    .item 
      button.mapISS Click to discover
      div(id="mapid")
  script(src='/javascripts/map.js')
  
